@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


@font-face {
    font-family: Billabong;
    src: url(../assets/fonts/Billabong/billabong.ttf),
        url(../assets/fonts/Billabong/billabong_regular.otf);
}


:root {
    --cor-preto: #000000;
    --cor-cinza: #A1A99D;
    --cor-marrow: #a49170;
    --cor-amareloclaro: #E1DDAD;
    --cor-amarelo: #F9F2A7;
    --cor-branco: #FFFFFF;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #D9D9D9;
    --cor-cinza-clarinho: #EEEEEE;
    --cor-marrow-claro:#DDD6C8;
    --cor-marrow-escuro:#A49273;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/*Seletor Global*/
* {
    padding: 0;
    /*espacointerno*/
    margin: 0;
    /*espaco externo*/
    box-sizing: border-box;
    /*atribui espacos internos/externos e bordas no tamanho final do box*/
    font-family: "Segoe UI", sans-serif;
    outline-color: var(--cor-marrow);
}

body {
    background-color: var(--cor-cinza-medio);
}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* formulario */
.formulario-botao-marrow {
    background-color: var(--cor-marrow);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza-medio);

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}


.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 600;
}

.estilo-formulario {
    width: 100%;
    background-color: var(--cor-branco);
    border: var(--borda);
}

#campo-upload {
    display: none;
}

#texto-upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5px;
    background-color: var(--cor-cinza-claro);
    color: var(--cor-branco);
    text-align: center;
    border-radius: var(--borda-arredondada);
    font-weight: 500;
}

/* cabecalho */
#cabecalho {
    background-color: var(--cor-branco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    /*Alinha os filhos na direcao  do flex*/
    border-bottom: var(--borda);
}

#cabecalho>nav {
    background-color: var(--cor-branco);
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    /*Faz mudar de local*/
    justify-content: space-between;
}

#logo-mobile {

    display: none;
}

.cabecalho-acoes {
    background-color: var(--cor-branco);
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /*mantem a proporcao com um zoom adaptar ao tamanho do elemento*/
    object-position: center;
    border-radius: 50%;
}

/* RESPONSIVO*/
@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}