main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    background-color:#DDD6C8;
}

#perfil {
   width: 90%;
}

.foto-perfil-bio{
height: 150px;
width: 150px;
border-radius: 50%;
}


.dados-perfil {
    background-color:#DDD6C8;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.informacoes {
    background-color: #DDD6C8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informacoes>div {
    background-color: #DDD6C8;
    display: flex;
    gap: 50px;
}

.info {
 text-decoration: none;
}

.subtitulo-publicacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#criar-publi{
    padding: 10px
}

.estilo-formulario {
    width: 100%;
    border: var(--borda--);
}

.card-publi {
    padding: 10px;
    background-color: #A49273;
    margin:10px;
    
}

.interacoes-publicacao>button,button {
    background-color: transparent;
    border: none;
}
